@page
@model MovieSystem.Pages.Directors.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Director</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Director.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Director.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Director.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Director.DateOfBirth)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Director.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
