@page
@model BankAccount.Pages.BankAccounts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BankAccount</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccount.AccountNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BankAccount.AccountNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccount.AccountName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BankAccount.AccountName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccount.Balance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BankAccount.Balance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccount.DateOpened)
        </dt>
        <dd class="col-sm-10">
            @Model.BankAccount.DateOpened.ToString("yyyy-MM-dd")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccount.AccountHolder)
        </dt>
        <dd class="col-sm-10">
            @Model.BankAccount.AccountHolder?.FullName
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BankAccount.BankAccountId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
