@page
@model BankAccount.Pages.BankAccounts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BankAccount[0].AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAccount[0].AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAccount[0].Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAccount[0].DateOpened)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAccount[0].AccountHolder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BankAccount) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOpened)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountHolder.AccountHolderId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BankAccountId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BankAccountId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BankAccountId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
